{{ 'component-card-feedback.css' | asset_url | stylesheet_tag }}


<div class="testimonial-card">
  <div class="testimonial-header">
    <div class="testimonial-avatar">
      <img
        src="{{ image | img_url: 'medium' }}"
        alt="{{ image | escape }}"
        loading="lazy"
      >
    </div>
    <div class="testimonial-user-info">
      <span class="testimonial-username">{{ name }}</span>
      {% render 'stars-rating', rating: rating %}
    </div>
  </div>
  <p class="testimonial-content">
    {{ comment }}
  </p>
</div>
