{{ 'component-card.css' | asset_url | stylesheet_tag }}

 <div class="product-card">
  {% if product_image %}
    <div class="card-image">
      <img
        src="{{ product_image | img_url: '1024x1024' }}"
        alt="{{ product.title | escape }}"
        loading="lazy"
      >
    </div>
  {% else %}
    <div class="card-image">
      <span>Sem imagem disponível</span>
    </div>
  {% endif %}

  <div class="card-body">
    <div class="product-title">
      {{ product }}
    </div>
    <div class="rating">
      {% if rating %}
        {% render 'stars-rating', rating: rating %}
        <span class="rating-text">
          ({{ rating }} of {{ quantity_reviews | default: '800' }} reviews)
        </span>
      {% else %}
        <span class="rating-text">Sem avaliações</span>
      {% endif %}
    </div>
  </div>
</div>
